* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.wrapper {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background: #222222;
    padding: 18px 0;
    color: #fff;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-col-1 {
    display: flex;
    align-items: center;
}

.logo-link {
    text-decoration: none;
    color: transparent;
    margin-right: 41px;
}

.search-button, .main-menu-button {
    background-color: transparent;
    border: none;
}

.profile-link, .cart-link {
    text-decoration: none;
    color: transparent;
}

.profile-link {
    margin: 0 33px;
}

.offer {
    background: #F1E4E6;
}

.offer-wrap {
    height: 765px;
    background-image: url(../img/offer-img.png);
    background-repeat: no-repeat;
    background-position-x: -225px;
    background-position-y: bottom;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.offer-title {
    font-weight: 900;
    font-size: 48px;
    line-height: 40px;
    color: #222222;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-right: 95px;
}

.offer-title--small {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.offer-title--pink {
    color: #F16D7F;
}

<<<<<<< Updated upstream
||||||| constructed merge base
/*page-title*/
.page-title {
  background: #f8f3f4;
}

.page-title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 59px;
  padding-bottom: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-title-wrap-heading {
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.breadcrumb {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumb-text {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.active {
  font-weight: bold;
  color: #f16d7f;
}

/* shopping */
/* shooping*/
.shopping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 96px;
  padding-bottom: 128px;
}

.shopping-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.shopping-cart-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  width: 652px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-right: 22px;
}

img.shopping-img {
  width: 40%;
}

.card-info {
  padding-left: 31px;
}

.heading-shopping-cart-card {
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  padding-bottom: 42px;
  margin-top: 22px;
}

.text-shopping-cart-card {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  padding-bottom: 6px;
}

.count-product {
  margin-left: 24px;
  border: 1px solid #eaeaea;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  width: 44px;
  text-align: center;
  outline: none;
}

.shopping-price {
  color: #ef5b70;
}

.shopping-close {
  margin-top: 28px;
}

.shopping-cart-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
}

.cart-btn {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: 1px solid #a4a4a4;
  padding: 17px 40px;
}

.cart-btn:hover {
  background: #f16d7f;
  border: 1px solid #ff6a6a;
  color: #ffffff;
}

.shipping-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shipping-heading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  padding-bottom: 20px;
}

.shipping-input {
  padding: 13px 0 16px 17px;
  width: 360px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  border: 1px solid #a4a4a4;
  margin-bottom: 20px;
}

.shipping-input::-webkit-input-placeholder {
  color: #b1b1b1;
}

.shipping-input:-ms-input-placeholder {
  color: #b1b1b1;
}

.shipping-input::-ms-input-placeholder {
  color: #b1b1b1;
}

.shipping-input::placeholder {
  color: #b1b1b1;
}

.shipping-input:focus {
  outline: none;
}

.shipping-btn {
  text-decoration: none;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
  border: 1px solid #a4a4a4;
  padding: 10px 0 12px 15px;
  width: 102px;
}

.shipping-total-price {
  background: #f5f3f3;
  margin-top: 57px;
  padding: 39px 44px 42px;
  text-align: right;
}

.shipping-sub {
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
}

.shipping-total {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-top: 12px;
}

.total-price {
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.line-shipping {
  background: #e2e2e2;
  margin-top: 21px;
  margin-bottom: 17px;
}

.shipping-checkout {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background: #f16d7f;
  padding: 12px 42px;
  display: block;
}

/* registraition */
/* registration */
.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  padding-bottom: 96px;
}

.registration-field {
  border: none;
}

.registration-field-login {
  margin-top: 33px;
}

.registration-heading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.registration-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding: 13px 0 16px 17px;
  width: 360px;
  border: 1px solid #a4a4a4;
  color: #222224;
  font-size: 13px;
  line-height: 16px;
}

.registration-input::-webkit-input-placeholder {
  font-weight: 300;
  color: #b1b1b1;
}

.registration-input:-ms-input-placeholder {
  font-weight: 300;
  color: #b1b1b1;
}

.registration-input::-ms-input-placeholder {
  font-weight: 300;
  color: #b1b1b1;
}

.registration-input::placeholder {
  font-weight: 300;
  color: #b1b1b1;
}

.registration-input:focus {
  outline: none;
  border: 1px solid;
}

.radio-input {
  margin-top: 31px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  display: inline-block;
  margin-right: 20px;
}

.box-radio-input {
  margin-right: 10px;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  vertical-align: sub;
}

.registration-text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
  margin-top: 15px;
  width: 360px;
}

.registration-btn {
  background: #f16d7f;
  border: none;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  padding: 16px 20px 17px 29px;
  margin-top: 39px;
}

.registration-svg-btn {
  margin-left: 20px;
}

.registration-loyalty {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-left: 128px;
}

.heading-loyalty {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.loyalty-list {
  margin-top: 21px;
  list-style: none;
}

.loyalty-text {
  margin-top: 21px;
}

.loyalty-item {
  padding-bottom: 16px;
}

.loyalty-item::before {
  content: url(/img/check.svg);
  margin-right: 22px;
}

/* categories */
=======
/*page-title*/
.page-title {
  background: #f8f3f4;
}

.page-title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 59px;
  padding-bottom: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-title-wrap-heading {
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.breadcrumb {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumb-text {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.active {
  font-weight: bold;
  color: #f16d7f;
}

/* shopping */
/* shooping*/
.shopping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 96px;
  padding-bottom: 128px;
}

.shopping-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.shopping-cart-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  width: 652px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-right: 22px;
}

img.shopping-img {
  width: 40%;
}

.card-info {
  padding-left: 31px;
}

.heading-shopping-cart-card {
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  padding-bottom: 42px;
  margin-top: 22px;
}

.text-shopping-cart-card {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  padding-bottom: 6px;
}

.count-product {
  margin-left: 24px;
  border: 1px solid #eaeaea;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  width: 44px;
  text-align: center;
  outline: none;
}

.shopping-price {
  color: #ef5b70;
}

.shopping-close {
  margin-top: 28px;
}

.shopping-cart-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
}

.cart-btn {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: 1px solid #a4a4a4;
  padding: 17px 40px;
}

.cart-btn:hover {
  background: #f16d7f;
  border: 1px solid #ff6a6a;
  color: #ffffff;
}

.shipping-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shipping-heading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  padding-bottom: 20px;
}

.shipping-input {
  padding: 13px 0 16px 17px;
  width: 360px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  border: 1px solid #a4a4a4;
  margin-bottom: 20px;
}

.shipping-input::-webkit-input-placeholder {
  color: #b1b1b1;
}

.shipping-input:-ms-input-placeholder {
  color: #b1b1b1;
}

.shipping-input::-ms-input-placeholder {
  color: #b1b1b1;
}

.shipping-input::placeholder {
  color: #b1b1b1;
}

.shipping-input:focus {
  outline: none;
}

.shipping-btn {
  text-decoration: none;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
  border: 1px solid #a4a4a4;
  padding: 10px 0 12px 15px;
  width: 102px;
}

.shipping-total-price {
  background: #f5f3f3;
  margin-top: 57px;
  padding: 39px 44px 42px;
  text-align: right;
}

.shipping-sub {
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
}

.shipping-total {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-top: 12px;
}

.total-price {
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.line-shipping {
  background: #e2e2e2;
  margin-top: 21px;
  margin-bottom: 17px;
}

.shipping-checkout {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background: #f16d7f;
  padding: 12px 42px;
  display: block;
}

/* registraition */
/* registration */
.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  padding-bottom: 96px;
}

.registration-field {
  border: none;
}

.registration-field-login {
  margin-top: 33px;
}

.registration-heading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.registration-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding: 13px 0 16px 17px;
  width: 360px;
  border: 1px solid #a4a4a4;
  color: #222224;
  font-size: 13px;
  line-height: 16px;
}

.registration-input::-webkit-input-placeholder {
  font-weight: 300;
  color: #b1b1b1;
}

.registration-input:-ms-input-placeholder {
  font-weight: 300;
  color: #b1b1b1;
}

.registration-input::-ms-input-placeholder {
  font-weight: 300;
  color: #b1b1b1;
}

.registration-input::placeholder {
  font-weight: 300;
  color: #b1b1b1;
}

.registration-input:focus {
  outline: none;
  border: 1px solid;
}

.radio-input {
  margin-top: 31px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  display: inline-block;
  margin-right: 20px;
}

.box-radio-input {
  margin-right: 10px;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  vertical-align: sub;
}

.registration-text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
  margin-top: 15px;
  width: 360px;
}

.registration-btn {
  background: #f16d7f;
  border: none;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  padding: 16px 20px 17px 29px;
  margin-top: 39px;
}

.registration-svg-btn {
  margin-left: 20px;
}

.registration-loyalty {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-left: 128px;
}

.heading-loyalty {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.loyalty-list {
  margin-top: 21px;
  list-style: none;
}

.loyalty-text {
  margin-top: 21px;
}

.loyalty-item {
  padding-bottom: 16px;
}

.loyalty-item::before {
  content: url(/img/check.svg);
  margin-right: 22px;
}

/*product*/
/* slider */
.slider {
  width: 100%;
  background: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 65px;
  border: 1px solid #eaeaea;
}

.slider-btn {
  background: rgba(42, 42, 42, 0.15);
  border: none;
  padding: 13px 17px;
}

.about-wrap {
  margin-top: -65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #ffffff;
  padding: 64px 0;
  border: 1px solid #eaeaea;
  margin-bottom: 128px;
}

.adout-collection {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #f16d7f;
}

.line-about-pink {
  color: #ef5b70;
  border: none;
  background-color: #ef5b70;
  height: 3px;
  width: 63px;
  margin: 12px 0;
}

.about-heading {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4d4d4d;
}

.about-text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #5e5e5e;
  width: 555px;
  margin-top: 48px;
}

.about-price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #ef5b70;
  margin-top: 32px;
}

.line-about {
  width: 641px;
  border: 1px solid #eaeaea;
  margin: 64px 0;
}

.filter-sort-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-btn {
  margin-top: 48px;
  border: 1px solid #ff6a6a;
  padding: 15px 57px 9px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  background: #ffffff;
}

.product-btn-svg {
  fill: #ef5b70;
  margin-right: 22px;
}

.product-wrap {
  margin-bottom: 128px;
}

/* categories */
>>>>>>> Stashed changes
.categories {
    padding-top: 65px;
    padding-bottom: 85px;
}

.categories-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.categories-item {
    background: #C4C4C4;
    width: 360px;
    height: 260px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.categories-item--women {
    background-image: url(../img/women-categories.png);
}

.categories-item--men {
    background-image: url(../img/men-categories.jpg);
}

.categories-item--kids {
    background-image: url(../img/kids-categories.jpg);
}

.categories-item--acc {
    margin-top: 30px;
    width: 100%;
    height: 180px;
    background-image: url(../img/accesories-categories.jpg);
}

.categories-sale {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.categories-name {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.heading-feature-products {
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
    padding-bottom: 6px;
}

.text-heading-feature-products {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
    padding-bottom: 18px;
}

.products {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    background: #F8F8F8;
    width: 360px;
    margin-top: 30px;
}

.heading-product-card {
    font-size: 13px;
    line-height: 16px;
    margin-top: 25px;
    padding-bottom: 12px;
    margin-left: 16px;
    margin-right: 28px;
}

.text-product-card {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-bottom: 18px;
    margin-left: 16px;
    margin-right: 28px;
}

.price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding-bottom: 20px;
    margin-left: 16px;
    margin-right: 28px;
}

.center {
    padding-top: 48px;
    display: flex;
    justify-content: center;
}

.center-button {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: 1px solid #FF6A6A;
    padding: 14px 39px 15px;
}

.advantages {
    background: #222224;
    margin-top: 43px;
<<<<<<< HEAD
    color: #FBFBFB;
}

.advantages-wrap {
    display: flex;
    padding: 104px 0;
    justify-content: space-between;
}

.advantage-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.heading-advantages {
    font-size: 19.96px;
    line-height: 24px;
    padding-top: 19px;
}

.text-advantages {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    padding-top: 16px;
}

.feedback {
    background-image: url(../img/feedback-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 448px;
    background-color: #eee;
    background-position: bottom;
}

.feedback-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 97px;
}

.example-feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 360px;
}

.text-feedback {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    margin-top: 30px;
}

.text-feedback-style {
    font-style: italic;
}

.subscribe-form {
    color: #222224;
    line-height: 167.2%;
    text-align: center;
    padding-right: 97px;
    padding-top: 58px;
}

.heading-top-subscribe {
    font-weight: bold;
    font-size: 24px;
}

.heading-mini-subscribe {
    font-size: 18px;
    margin-top: 10px;
}

.subscribe {
    width: 356px;
    display: flex;
    margin-top: 37px;
}

.subscribe-field {
    padding: 20px;
    width: 255px;
    border-radius: 27px 0 0 27px;
    border: 1px solid #E1E1E1;
    background-color: #E1E1E1;
    color: #222224;
}

.subscribe-field:focus {
    outline: none;
    border: 1px solid #F16D7F;
}

.subscribe-field::placeholder {
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
}

.subscribe-field:hover {
    background-color: #E9E9E9;
}

.subscribe-button {
    padding: 20px;
    border-radius: 0 27px 27px 0;
    border: none;
    background-color: #F16D7F;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
}

.subscribe-button:hover {
    background-color: #d35869;
=======
}

.feedback {
    background-image: url(/img/feedback_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 448px;
>>>>>>> f510beb8946f96b3291f4a320f2e30d5e983f146
}

.footer {
    background: #222224;
<<<<<<< HEAD
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.copy {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.icon-img:hover .icon-background {
    fill: #F16D7F;
}

.icon-img:hover .icon-symbol {
    fill: #FFFFFF;
=======
>>>>>>> f510beb8946f96b3291f4a320f2e30d5e983f146
}