@mixin main-text() {
    font-size: 14px;
    line-height: 17px;
}

$color-hover: #f16d7f;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

.wrapper {
    width: 1140px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .wrapper {
        width: 735px;
    }
}

/* шапка*/

.header {
    background: #222222;
    padding: 18px 0;
    color: #fff;
    position: relative;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-col-1 {
    display: flex;
    align-items: center;
}

.logo-link {
    text-decoration: none;
    color: transparent;
    margin-right: 41px;
}

.search-button,
.main-menu-button {
    background-color: transparent;
    border: none;
}

.profile-link,
.cart-link {
    text-decoration: none;
    color: transparent;
}

.profile-link {
    margin: 0 33px;
}

.header-svg {
    fill: #e8e8e8;
    &:hover {
        fill: $color-hover;
    }
}

/* main */

@import "block/main-menu";

/* offer на главной*/

.offer {
    background: #f1e4e6;
}

.offer-wrap {
    height: 765px;
    background-image: url(../img/offer-img.png);
    background-repeat: no-repeat;
    background-position-x: -225px;
    background-position-y: bottom;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-size: contain;
}

.offer-title {
    font-weight: 900;
    font-size: 48px;
    line-height: 40px;
    color: #222222;
    border-left: 12px solid #f16d7f;
    padding-left: 16px;
    margin-right: 95px;
}

.offer-title--small {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.offer-title--pink {
    color: #f16d7f;
}

@media (max-width: 1200px) {
    .offer-wrap {
        height: 368px;
        background-position-x: -50px;
    }

    .offer-title {
        font-size: 44px;
        line-height: 53px;
        margin-right: 15px;
    }
}

/*page-title*/

.page-title {
    background: #f8f3f4;
}

.page-title-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 59px;
    padding-bottom: 60px;
    align-items: center;
}

.page-title-wrap-heading {
    font-size: 24px;
    line-height: 29px;
    color: #f16d7f;
}

.breadcrumb {
    list-style: none;
    display: flex;
}

.breadcrumb-text {
    text-decoration: none;
    font-weight: 300;
    @include main-text();
    color: #636363;
    &:hover {
        color: #f16d7f;
    }
}

.active {
    font-weight: bold;
    color: #f16d7f;
}

/* shopping */

@import "block/shopping";

/* registraition */

@import "block/regisrtation";

/*product*/

@import "block/product";

/* categories */

.categories {
    padding-top: 65px;
    padding-bottom: 96px;
}

.categories-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.categories-item {
    background: #c4c4c4;
    width: 360px;
    height: 260px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.categories-item--women {
    background-image: url(../img/women-categories.png);
    background-size: cover;
}

.categories-item--men {
    background-image: url(../img/men-categories.jpg);
    background-size: cover;
}

.categories-item--kids {
    background-image: url(../img/kids-categories.jpg);
    background-size: cover;
}

.categories-item--acc {
    margin-top: 30px;
    width: 100%;
    height: 180px;
    background-image: url(../img/accesories-categories.jpg);
}

.categories-sale {
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
}

.categories-name {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #f16d7f;
}

@media (max-width: 1200px) {
    .categories {
        padding-top: 20px;
        padding-bottom: 155px;
    }
    .categories-item {
        width: 232px;
        height: 168px;
    }

    .categories-item--acc {
        height: 116px;
        width: 100%;
        margin-top: 20px;
    }

    .categories-item--women {
        background-position: center center;
    }
}

/* filter */

.filter {
    display: flex;
    margin-top: 51px;
    padding-bottom: 34px;
    position: relative;
    justify-content: center;
}

details::-webkit-details-marker {
    display: none;
}

.filter-menu {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    z-index: 1;
}

.filter-dropdown {
    padding-left: 14px;
    padding: 17px;
}

.filter-dropdown[open] {
    width: 360px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    background: #ffffff;
}

.filter-dropdown[open] .filter-text {
    color: #ef5b70;
    .filter-svg {
        fill: #ef5b70;
    }
}

.filter-text {
    font-weight: 600;
    @include main-text();
    color: #000000;
    padding-right: 11px;
    display: block;
}

.filter-svg {
    fill: #000000;
    margin-left: 11px;
}

.filter-text:hover {
    color: $color-hover;
    .filter-svg {
        fill: $color-hover;
    }
}

.filter-sub-category {
    display: block;
    color: #6f6e6e;
    @include main-text();
    border-left: 5px solid #ef5b70;
    border-bottom: 1px solid #ebebeb;
    padding: 8px 15px 12px 11px;
    margin-top: 18px;
    text-transform: uppercase;
}

.filter-link {
    text-decoration: none;
    @include main-text();
    color: #6f6e6e;
}

.filter-item {
    margin-top: 11px;
    list-style: none;
    margin-left: 15px;
}

.filter-soft {
    display: flex;
    align-items: center;
    height: 17px;
}

.filter-soft-box {
    position: relative;
    &:hover .filter-sort-text {
        color: $color-hover;
    }
    &:hover .filter-soft-svg {
        fill: $color-hover;
    }
}

.filter-soft-box[open] .filter-sort-text {
    color: $color-hover;
    .filter-soft-svg {
        fill: $color-hover;
    }
}

.filter-soft-box[open] .filter-soft-svg {
    transform: rotate(180deg);
}

.filter-sort-text {
    display: block;
}

.filter-soft-svg {
    margin-left: 10px;
    fill: #6f6e6e;
}

.size-soft {
    position: absolute;
    right: 0;
    z-index: 1;
    display: block;
    background: #ffffff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    margin-top: 5px;
    width: 79px;
    padding-bottom: 11px;
}

.size-list {
    list-style: none;
    font-size: 14px;
    line-height: 16px;
    color: #6f6e6e;
    margin-top: 6px;
    margin-left: 9px;
}

.soft-label {
    display: flex;
    align-self: center;
}

.size-check {
    margin-right: 9px;
}

.filter-sort-text {
    @include main-text();
    color: #6f6e6e;
    padding-right: 10px;
    padding-left: 28px;
}

/* pruduct */

.heading-feature-products {
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
    padding-bottom: 6px;
    padding-right: 11px;
}

.text-heading-feature-products {
    @include main-text();
    color: #9f9f9f;
    text-align: center;
    padding-bottom: 18px;
}

.products {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    background: #f8f8f8;
    width: 360px;
    margin-top: 30px;
    position: relative;
}

.card-overlay {
    background: rgba(58, 56, 56, 0.86);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 420px;
    opacity: 0;
    align-items: center;
    justify-content: center;
}

.card-btn {
    text-decoration: none;
    border: 1px solid #ffffff;
    padding: 12px 14px;
    background-color: transparent;
    align-items: center;
    display: flex;
    transition: 0.4s;
    &:hover {
        background-color: #ffffff73;
        transform: scale(1.1);
    }
    &:hover .overlay-text {
        color: rgba(58, 56, 56, 0.86);
    }
    &:hover .card-overlay-svg {
        fill: rgba(58, 56, 56, 0.86);
    }
}

.card-overlay-svg {
    fill: #ffffff;
    margin-right: 11px;
    width: 26px;
    height: 23px;
}

.overlay-text {
    color: #ffffff;
    @include main-text();
}

.product-card:hover .card-overlay {
    display: flex;
    opacity: 1;
}

.heading-link {
    text-decoration: none;
    color: #000000;
}

.heading-product-card {
    font-size: 13px;
    line-height: 16px;
    margin-top: 25px;
    padding-bottom: 12px;
    margin-left: 16px;
    margin-right: 28px;
    &:hover {
        color: $color-hover;
    }
}

.text-product-card {
    font-weight: 300;
    @include main-text();
    color: #5d5d5d;
    padding-bottom: 18px;
    margin-left: 16px;
    margin-right: 28px;
}

.price {
    font-size: 16px;
    line-height: 19px;
    color: #f16d7f;
    padding-bottom: 20px;
    margin-left: 16px;
    margin-right: 28px;
}

.center {
    padding-top: 48px;
    display: flex;
    justify-content: center;
}

.center-button {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #f26376;
    border: 1px solid #ff6a6a;
    padding: 14px 39px 15px;
    transition: 0.3s;
    &:hover {
        color: #ffffff;
        background: #f16d7f;
        transform: scale(1.2);
    }
}

@media (max-width: 1200px) {
    .text-heading-feature-products {
        padding-bottom: 42px;
    }

    .center {
        padding-top: 32px;
    }
}

/*pagination*/

.pagination-box {
    border: 1px solid #ebebeb;
    padding: 12px 15px;
}

.pagination-list {
    display: flex;
    gap: 15px;
}

.pagination {
    list-style: none;
}

.pagination-link {
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #c4c4c4;
    &:hover {
        color: #ef5b70;
    }
}

.pagination-link-point {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #c4c4c4;
}

.pagination-svg {
    fill: black;
    &:hover {
        fill: $color-hover;
    }
}

/* advantages */

.advantages {
    background: #222224;
    margin-top: 95px;
    color: #fbfbfb;
}

.advantages-wrap {
    display: flex;
    padding: 104px 0;
    justify-content: space-between;
}

.advantage-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.heading-advantages {
    font-size: 19.96px;
    line-height: 24px;
    padding-top: 19px;
}

.text-advantages {
    font-weight: 300;
    @include main-text();
    padding-top: 16px;
}

@media (max-width: 1200px) {
    .advantages {
        margin-top: 64px;
    }

    .advantages-wrap {
        flex-direction: column;
        padding: 0 215px 64px 215px;
    }

    .advantage-card {
        margin-top: 48px;
    }
}

/* feedback */

.feedback {
    background-image: url(../img/feedback-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 448px;
    background-color: #eee;
    background-position: bottom;
}

.feedback-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 97px;
}

.example-feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 360px;
}

.text-feedback {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    margin-top: 30px;
}

.text-feedback-style {
    font-style: italic;
}

.subscribe-form {
    color: #222224;
    line-height: 167.2%;
    text-align: center;
    padding-right: 97px;
    padding-top: 58px;
}

.heading-top-subscribe {
    font-weight: bold;
    font-size: 24px;
}

.heading-mini-subscribe {
    font-size: 18px;
    margin-top: 10px;
}

.subscribe {
    width: 356px;
    display: flex;
    margin-top: 32px;
}

.subscribe-field {
    padding: 20px;
    width: 255px;
    border-radius: 27px 0 0 27px;
    border: 1px solid #e1e1e1;
    background-color: #e1e1e1;
    color: #222224;
    &:focus {
        outline: none;
        border: 1px solid #f16d7f;
    }
    &::placeholder {
        @include main-text();
        color: #222224;
        opacity: 0.67;
    }
    &:hover {
        background-color: #e9e9e9;
    }
}

.subscribe-button {
    padding: 20px;
    border-radius: 0 27px 27px 0;
    border: none;
    background-color: #f16d7f;
    color: #ffffff;
    @include main-text();
    &:hover {
        background-color: #d35869;
    }
}

@media (max-width: 1200px) {
    .feedback {
        height: 616px;
    }

    .feedback-wrap {
        flex-direction: column;
        padding-top: 64px;
    }

    .subscribe-form {
        padding-top: 87px;
        padding-right: 0;
    }

    .subscribe {
        margin-top: 27px;
    }
}

/* foorer */

.footer {
    background: #222224;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.copy {
    font-size: 16px;
    line-height: 19px;
    color: #fbfbfb;
}

.footer-icon {
    text-decoration: none;
}

.icon-img:hover .icon-background {
    fill: #f16d7f;
}

.icon-img:hover .icon-symbol {
    fill: #ffffff;
}
