/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.wrapper {
  width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .wrapper {
    width: 735px;
  }
}

@media (max-width: 760px) {
  .wrapper {
    width: 359px;
  }
}

/* шапка*/
.header {
  background: #222222;
  padding: 18px 0;
  color: #fff;
  position: relative;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-link {
  text-decoration: none;
  color: transparent;
  margin-right: 41px;
}

.logo-svg:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.logo-svg:hover:hover {
  -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
      transform: scale(1.2);
}

.search-button,
.main-menu-button {
  background-color: transparent;
  border: none;
}

.profile-link,
.cart-link {
  text-decoration: none;
  color: transparent;
}

.profile-link {
  margin: 0 33px;
}

.header-svg {
  fill: #e8e8e8;
}

.header-svg:hover {
  fill: #f16d7f;
}

@media (max-width: 760px) {
  .profile-link {
    display: none;
  }
  .cart-link {
    display: none;
  }
}

/* main */
/* main-menu*/
.main-menu {
  background-color: white;
  width: 235px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 40px 36px;
  position: absolute;
  right: 0;
  top: 100%;
  min-height: 764px;
}

.main-menu-open {
  display: block;
}

.main-menu-box {
  position: relative;
}

.main-menu-close {
  display: none;
}

.main-menu-close-btn {
  position: absolute;
  padding: 10px;
  top: -27px;
  right: -25px;
  border: none;
  background: none;
}

.main-menu-close-svg {
  fill: #6f6e6e;
}

.main-menu-close-svg:hover {
  fill: #f16d7f;
}

.main-menu-title {
  font-weight: bold;
  color: #000000;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 25px;
}

.main-menu-link {
  text-decoration: none;
  color: #f16d7f;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.main-menu-item {
  margin-bottom: 15px;
}

.main-menu-submenu {
  padding-left: 20px;
}

.main-submenu-link {
  text-decoration: none;
  color: #6f6e6e;
  font-size: 14px;
  line-height: 17px;
}

.main-menu-submenu-item {
  margin-top: 11px;
}

/* offer на главной*/
.offer {
  background: #f1e4e6;
}

.offer-wrap {
  height: 765px;
  background-image: url(../img/offer-img.png);
  background-repeat: no-repeat;
  background-position-x: -225px;
  background-position-y: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-size: contain;
}

.offer-title {
  font-weight: 900;
  font-size: 48px;
  line-height: 40px;
  color: #222222;
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
  margin-right: 95px;
  -webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
          animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.offer-title--small {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.offer-title--pink {
  color: #f16d7f;
}

@media (max-width: 1200px) {
  .offer-wrap {
    height: 368px;
    background-position-x: -50px;
  }
  .offer-title {
    font-size: 44px;
    line-height: 29px;
    padding-top: 12px;
    padding-bottom: 8px;
    margin-right: 0;
  }
  .offer-title--small {
    font-size: 24px;
  }
}

@media (max-width: 760px) {
  .offer-wrap {
    background-image: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .offer-title {
    font-size: 38px;
    line-height: 24px;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .offer-title--small {
    font-size: 20px;
    line-height: 1px;
  }
}

/*page-title*/
.page-title {
  background: #f8f3f4;
}

.page-title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 59px;
  padding-bottom: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-title-wrap-heading {
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.breadcrumb {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumb-text {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.breadcrumb-text:hover {
  color: #f16d7f;
}

.active {
  font-weight: bold;
  color: #f16d7f;
}

@media (max-width: 760px) {
  .page-title-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 46px;
  }
  .page-title-wrap-heading {
    margin-bottom: 32px;
  }
}

/* shopping */
/* shooping*/
.shopping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 96px;
  padding-bottom: 128px;
}

.shopping-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.shopping-cart-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  width: 652px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 22px;
  height: 306px;
}

img.shopping-img {
  width: 43%;
}

.card-info {
  width: 45%;
  padding-bottom: 62px;
}

.cart-product-link {
  text-decoration: none;
}

.heading-shopping-cart-card {
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  padding-bottom: 42px;
  margin-top: 22px;
  width: 197px;
}

.heading-shopping-cart-card:hover {
  color: #f16d7f;
}

.text-shopping-cart-card {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  padding-bottom: 6px;
}

.count-product {
  margin-left: 24px;
  border: 1px solid #eaeaea;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  width: 44px;
  text-align: center;
  outline: none;
}

.shopping-price {
  color: #ef5b70;
}

.card-close {
  position: relative;
}

.card-close-btn {
  position: absolute;
  border: none;
  background: none;
  top: 28px;
  right: 6px;
}

.card-close-svg {
  fill: #6f6e6e;
}

.card-close-svg:hover {
  fill: #f16d7f;
}

.shopping-cart-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
}

.cart-btn {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: 1px solid #a4a4a4;
  padding: 17px 40px;
  display: block;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.cart-btn:hover {
  background: #f16d7f;
  border: 1px solid #ff6a6a;
  color: #ffffff;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

@media (max-width: 1200px) {
  .shopping {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 59px;
  }
  .shopping-cart-card {
    width: 100%;
  }
  img.shopping-img {
    width: 37%;
  }
  .card-info {
    width: 53%;
  }
  .shopping-cart-btn {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 22px;
  }
}

@media (max-width: 760px) {
  .shopping {
    margin-top: 39px;
  }
  .shopping-cart {
    gap: 32px;
  }
  .shopping-cart-card {
    height: 188px;
  }
  img.shopping-img {
    width: 44%;
  }
  .card-info {
    width: 48%;
  }
  .heading-shopping-cart-card {
    font-size: 16px;
    line-height: 19px;
    width: 126px;
    padding-bottom: 26px;
  }
  .text-shopping-cart-card {
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 4px;
  }
  .count-product {
    width: 24px;
    font-size: 10px;
    line-height: 12px;
  }
  .card-close-btn {
    top: 23px;
    right: -3px;
  }
  .card-close-svg {
    width: 11px;
    height: 12px;
  }
  .shopping-cart-btn {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0;
  }
  .cart-btn {
    padding: 10px 18px;
    font-size: 12px;
    line-height: 14px;
  }
}

/* форма заполенения*/
.shipping-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shipping-heading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  padding-bottom: 20px;
}

.shipping-input {
  padding: 13px 17px 16px 17px;
  width: 360px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  border: 1px solid #a4a4a4;
  margin-bottom: 20px;
}

.shipping-input::-webkit-input-placeholder {
  color: #b1b1b1;
}

.shipping-input:-ms-input-placeholder {
  color: #b1b1b1;
}

.shipping-input::-ms-input-placeholder {
  color: #b1b1b1;
}

.shipping-input::-moz-placeholder {
  color: #b1b1b1;
}

.shipping-input::placeholder {
  color: #b1b1b1;
}

.shipping-input:focus {
  border-color: black;
  outline: none;
}

.shipping-btn {
  text-decoration: none;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
  border: 1px solid #a4a4a4;
  padding: 10px 0 12px 15px;
  width: 102px;
}

.shipping-btn:hover {
  background: #f16d7f;
  border: 1px solid #ff6a6a;
  color: #ffffff;
}

.shipping-total-price {
  background: #f5f3f3;
  margin-top: 57px;
  padding: 39px 44px 42px;
  text-align: right;
}

.shipping-sub {
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
}

.shipping-total {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-top: 12px;
}

.total-price {
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.line-shipping {
  background: #e2e2e2;
  margin-top: 21px;
  margin-bottom: 17px;
}

.shipping-checkout {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background: #f16d7f;
  padding: 12px 42px;
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.shipping-checkout:hover {
  -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
      transform: scale(1.1);
}

@media (max-width: 1200px) {
  .shipping-adress {
    margin-top: 64px;
  }
  .shipping-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .shipping-total-price {
    height: 214px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 760px) {
  .shipping-adress {
    margin-top: 48px;
  }
  .shipping-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shipping-checkout {
    font-size: 15px;
  }
}

/* registraition */
/* registration */
.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  padding-bottom: 96px;
}

.registration-field {
  border: none;
}

.registration-field-login {
  margin-top: 33px;
}

.registration-heading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.registration-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding: 13px 17px 16px 17px;
  width: 360px;
  border: 1px solid #a4a4a4;
  color: #222224;
  font-size: 13px;
  line-height: 16px;
}

.registration-input::-webkit-input-placeholder {
  font-weight: 300;
  color: #b1b1b1;
}

.registration-input:-ms-input-placeholder {
  font-weight: 300;
  color: #b1b1b1;
}

.registration-input::-ms-input-placeholder {
  font-weight: 300;
  color: #b1b1b1;
}

.registration-input::-moz-placeholder {
  font-weight: 300;
  color: #b1b1b1;
}

.registration-input::placeholder {
  font-weight: 300;
  color: #b1b1b1;
}

.registration-input:focus {
  outline: none;
  border: 1px solid;
}

.radio-input {
  margin-top: 31px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  display: inline-block;
  margin-right: 20px;
}

.box-radio-input {
  margin-right: 10px;
  -webkit-transform: scale(1.4);
          -ms-transform: scale(1.4);
      transform: scale(1.4);
  vertical-align: sub;
}

.registration-text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
  margin-top: 15px;
  width: 360px;
}

.registration-btn {
  background: #f16d7f;
  border: none;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  padding: 16px 20px 17px 29px;
  margin-top: 39px;
}

.registration-btn:hover {
  -webkit-animation: wobble-hor-bottom 0.8s both;
          animation: wobble-hor-bottom 0.8s both;
}

@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

.registration-svg-btn {
  margin-left: 20px;
}

@media (max-width: 1200px) {
  .registration {
    margin-top: 40px;
  }
}

@media (max-width: 760px) {
  .registration {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* .registration-loyalty */
.registration-loyalty {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-left: 128px;
}

.heading-loyalty {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.loyalty-list {
  margin-top: 21px;
  list-style: none;
}

.loyalty-text {
  margin-top: 21px;
}

.loyalty-item {
  padding-bottom: 16px;
}

.loyalty-item::before {
  content: url(/img/check.svg);
  margin-right: 22px;
}

@media (max-width: 1200px) {
  .registration-loyalty {
    font-size: 16px;
    line-height: 19px;
    margin-left: 22px;
  }
  .heading-loyalty {
    font-size: 16px;
    line-height: 19px;
  }
  .loyalty-text {
    margin-top: 32px;
  }
  .loyalty-item {
    padding-bottom: 26px;
  }
}

@media (max-width: 760px) {
  .registration-loyalty {
    margin-left: 0;
    margin-top: 40px;
  }
}

/*product*/
/* slider */
.slider {
  width: 100%;
  background: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 65px;
  border: 1px solid #eaeaea;
}

.slider-btn {
  background: rgba(42, 42, 42, 0.15);
  border: none;
  padding: 13px 17px;
}

.slider-btn:hover .slider-btn-svg {
  fill: #f16d7f;
}

.slider-btn-svg {
  fill: black;
}

.about-wrap {
  margin-top: -65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #ffffff;
  padding: 64px 0;
  border: 1px solid #eaeaea;
  margin-bottom: 128px;
}

.adout-collection {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #f16d7f;
}

.line-about-pink {
  color: #ef5b70;
  border: none;
  background-color: #ef5b70;
  height: 3px;
  width: 63px;
  margin: 12px 0;
}

.about-heading {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4d4d4d;
}

.about-text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #5e5e5e;
  width: 555px;
  margin-top: 48px;
}

.about-price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #ef5b70;
  margin-top: 32px;
}

.line-about {
  width: 641px;
  border: 1px solid #eaeaea;
  margin: 64px 0;
}

.filter-sort-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-btn {
  margin-top: 48px;
  border: 1px solid #ff6a6a;
  padding: 15px 57px 11px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  background: #ffffff;
  -webkit-transition: 00.3s;
  -o-transition: 00.3s;
  transition: 00.3s;
}

.product-btn:hover {
  color: white;
  border-color: white;
  background: #ff6a6a;
  -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
      transform: scale(1.2);
}

.product-btn:hover .product-btn-svg {
  fill: white;
}

.product-btn-svg {
  fill: #ef5b70;
  margin-right: 22px;
  width: 26px;
  height: 23px;
}

.product-wrap {
  margin-bottom: 128px;
}

@media (max-width: 1200px) {
  .about {
    border: 1px solid #eaeaea;
    margin-bottom: 128px;
  }
  .about-wrap {
    margin-bottom: 0;
    margin-top: 0;
    border: none;
  }
}

@media (max-width: 760px) {
  img.slider-img {
    width: 100%;
  }
  .about {
    margin-bottom: 64px;
  }
  .about-text {
    line-height: 143.1%;
    width: 90%;
  }
  .line-about {
    width: 175px;
    margin-top: 31px;
    margin-bottom: 48px;
  }
  .product-wrap {
    margin-bottom: 64px;
  }
}

/* categories */
.categories {
  padding-top: 65px;
  padding-bottom: 96px;
}

.categories-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categories-item {
  background: #c4c4c4;
  width: 360px;
  height: 260px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categories-item:hover .categories-link {
  -webkit-transform: scale(1.4);
          -ms-transform: scale(1.4);
      transform: scale(1.4);
}

.categories-item--women {
  background-image: url(../img/women-categories.png);
  background-size: cover;
}

.categories-link {
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.categories-item--men {
  background-image: url(../img/men-categories.jpg);
  background-size: cover;
}

.categories-item--kids {
  background-image: url(../img/kids-categories.jpg);
  background-size: cover;
}

.categories-item--acc {
  margin-top: 30px;
  width: 100%;
  height: 180px;
  background-image: url(../img/accesories-categories.jpg);
}

.categories-sale {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.categories-name {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

@media (max-width: 1200px) {
  .categories {
    padding-top: 20px;
    padding-bottom: 155px;
  }
  .categories-item {
    width: 232px;
    height: 168px;
  }
  .categories-item--acc {
    height: 116px;
    width: 100%;
    margin-top: 20px;
  }
  .categories-item--women {
    background-position: center center;
  }
}

@media (max-width: 760px) {
  .categories {
    padding-top: 64px;
    padding-bottom: 32px;
  }
  .categories-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .categories-item {
    width: 100%;
    height: 247px;
    margin-bottom: 32px;
  }
  .categories-item--acc {
    height: 111px;
    margin-top: 0;
  }
}

/* filter */
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 51px;
  padding-bottom: 34px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

details::-webkit-details-marker {
  display: none;
}

.filter-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  z-index: 1;
}

.filter-dropdown {
  padding-left: 14px;
  padding: 17px;
}

.filter-dropdown[open] {
  width: 360px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  background: #ffffff;
}

.filter-dropdown[open] .filter-text {
  color: #ef5b70;
}

.filter-dropdown[open] .filter-text .filter-svg {
  fill: #ef5b70;
}

.filter-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-right: 11px;
  display: block;
}

.filter-svg {
  fill: #000000;
  margin-left: 11px;
}

.filter-text:hover {
  color: #f16d7f;
}

.filter-text:hover .filter-svg {
  fill: #f16d7f;
}

.filter-sub-category {
  display: block;
  color: #6f6e6e;
  font-size: 14px;
  line-height: 17px;
  border-left: 5px solid #ef5b70;
  border-bottom: 1px solid #ebebeb;
  padding: 8px 15px 12px 11px;
  margin-top: 18px;
  text-transform: uppercase;
}

.filter-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}

.filter-item {
  margin-top: 11px;
  list-style: none;
  margin-left: 15px;
}

.filter-soft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 17px;
  padding-top: 25px;
}

.filter-soft-box {
  position: relative;
}

.filter-soft-box:hover .filter-sort-text {
  color: #f16d7f;
}

.filter-soft-box:hover .filter-soft-svg {
  fill: #f16d7f;
}

.filter-soft-box[open] .filter-sort-text {
  color: #f16d7f;
}

.filter-soft-box[open] .filter-sort-text .filter-soft-svg {
  fill: #f16d7f;
}

.filter-soft-box[open] .filter-soft-svg {
  -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
      transform: rotate(180deg);
}

.filter-sort-text {
  display: block;
}

.filter-soft-svg {
  margin-left: 10px;
  fill: #6f6e6e;
}

.size-soft {
  position: absolute;
  right: 0;
  z-index: 1;
  display: block;
  background: #ffffff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  margin-top: 5px;
  width: 79px;
  padding-bottom: 11px;
}

.size-list {
  list-style: none;
  font-size: 14px;
  line-height: 16px;
  color: #6f6e6e;
  margin-top: 6px;
  margin-left: 9px;
}

.soft-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.size-check {
  margin-right: 9px;
}

.filter-sort-text {
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  padding-right: 10px;
  padding-left: 28px;
}

@media (max-width: 1200px) {
  .filter {
    margin-top: 24px;
  }
}

@media (max-width: 760px) {
  .filter {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .filter-text {
    font-size: 0;
  }
  .filter-dropdown {
    padding-left: 0;
  }
  .filter-svg {
    width: 37px;
    height: 25px;
    margin-left: 0;
  }
  .filter-sort-text {
    font-size: 12px;
    line-height: 14px;
    padding-left: 0;
  }
}

/* pruduct */
.heading-feature-products {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
  padding-bottom: 6px;
  padding-right: 11px;
}

.text-heading-feature-products {
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  text-align: center;
  padding-bottom: 18px;
}

.products {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-card {
  background: #f8f8f8;
  width: 360px;
  margin-top: 30px;
  position: relative;
}

.card-overlay {
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 420px;
  opacity: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-btn {
  text-decoration: none;
  border: 1px solid #ffffff;
  padding: 12px 14px;
  background-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.card-btn:hover {
  background-color: #ffffff73;
  -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
      transform: scale(1.1);
}

.card-btn:hover .overlay-text {
  color: rgba(58, 56, 56, 0.86);
}

.card-btn:hover .card-overlay-svg {
  fill: rgba(58, 56, 56, 0.86);
}

.card-overlay-svg {
  fill: #ffffff;
  margin-right: 11px;
  width: 26px;
  height: 23px;
}

.overlay-text {
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
}

.product-card:hover .card-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

.heading-link {
  text-decoration: none;
  color: #000000;
}

.heading-product-card {
  font-size: 13px;
  line-height: 16px;
  margin-top: 25px;
  padding-bottom: 12px;
  margin-left: 16px;
  margin-right: 28px;
}

.heading-product-card:hover {
  color: #f16d7f;
}

.text-product-card {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  padding-bottom: 18px;
  margin-left: 16px;
  margin-right: 28px;
}

.price {
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  padding-bottom: 20px;
  margin-left: 16px;
  margin-right: 28px;
}

.center {
  padding-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center-button {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  border: 1px solid #ff6a6a;
  padding: 14px 39px 15px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.center-button:hover {
  color: #ffffff;
  background: #f16d7f;
  -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
      transform: scale(1.2);
}

@media (max-width: 1200px) {
  .text-heading-feature-products {
    padding-bottom: 42px;
  }
  .center {
    padding-top: 32px;
  }
  .product-card {
    margin-top: 15px;
  }
}

@media (max-width: 760px) {
  .text-heading-feature-products {
    padding-bottom: 34px;
  }
  .product-card {
    margin-top: 15px;
  }
  .center {
    padding-top: 40px;
  }
}

/* медиа запрос на страницу каталог */
@media (max-width: 1200px) {
  .product-card--3 {
    display: none;
  }
}

/*pagination*/
.pagination-box {
  border: 1px solid #ebebeb;
  padding: 12px 15px;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.pagination {
  list-style: none;
}

.pagination-link {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #c4c4c4;
}

.pagination-link:hover {
  color: #ef5b70;
}

.pagination-link-point {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #c4c4c4;
}

.pagination-svg {
  fill: black;
}

.pagination-svg:hover {
  fill: #f16d7f;
}

/* advantages */
.advantages {
  background: #222224;
  margin-top: 95px;
  color: #fbfbfb;
}

.advantages-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 104px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantage-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heading-advantages {
  font-size: 19.96px;
  line-height: 24px;
  padding-top: 19px;
}

.text-advantages {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  padding-top: 16px;
}

@media (max-width: 1200px) {
  .advantages {
    margin-top: 64px;
  }
  .advantages-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 215px 64px 215px;
  }
  .advantage-card {
    margin-top: 48px;
  }
}

@media (max-width: 760px) {
  .advantages {
    margin-top: 96px;
  }
  .advantages-wrap {
    padding: 0;
    padding-bottom: 81px;
  }
}

/* feedback */
.feedback {
  background-image: url(../img/feedback-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 448px;
  background-color: #eee;
  background-position: bottom;
}

.feedback-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 97px;
}

.example-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 360px;
}

.text-feedback {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  margin-top: 30px;
}

.text-feedback-style {
  font-style: italic;
}

.subscribe-form {
  color: #222224;
  line-height: 167.2%;
  text-align: center;
  padding-right: 97px;
  padding-top: 58px;
}

.heading-top-subscribe {
  font-weight: bold;
  font-size: 24px;
}

.heading-mini-subscribe {
  font-size: 18px;
  margin-top: 10px;
}

.subscribe {
  width: 356px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
}

.subscribe-field {
  padding: 20px;
  width: 255px;
  border-radius: 27px 0 0 27px;
  border: 1px solid #e1e1e1;
  background-color: #e1e1e1;
  color: #222224;
}

.subscribe-field:focus {
  outline: none;
  border: 1px solid #f16d7f;
}

.subscribe-field::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.subscribe-field:-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.subscribe-field::-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.subscribe-field::-moz-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.subscribe-field::placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.subscribe-field:hover {
  background-color: #e9e9e9;
}

.subscribe-button {
  padding: 20px;
  border-radius: 0 27px 27px 0;
  border: none;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
}

.subscribe-button:hover {
  background-color: #d35869;
}

@media (max-width: 1200px) {
  .feedback {
    height: 616px;
  }
  .feedback-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 64px;
  }
  .subscribe-form {
    padding-top: 87px;
    padding-right: 0;
  }
  .subscribe {
    margin-top: 27px;
  }
}

@media (max-width: 760px) {
  .text-feedback {
    font-size: 18px;
    line-height: 22px;
  }
  .subscribe-form {
    line-height: 153%;
  }
  .heading-mini-subscribe {
    margin-top: 0;
  }
}

/* foorer */
.footer {
  background: #222224;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0;
}

.copy {
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

.footer-icon {
  text-decoration: none;
}

.icon-img:hover .icon-background {
  fill: #f16d7f;
}

.icon-img:hover .icon-symbol {
  fill: #ffffff;
}

@media (max-width: 760px) {
  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: wrap-reverse;
            flex-flow: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 43px 0 9px 0;
  }
  .copy {
    margin-top: 40px;
  }
}