@mixin main-text() {
    font-size: 14px;
    line-height: 17px;
}
/* main-menu*/

.main-menu {
    background-color: white;
    width: 235px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 40px 36px;
    position: absolute;
    right: 0;
    top: 100%;
    min-height: 764px;
}

.main-menu-open {
    display: block;
}

.main-menu-box {
    position: relative;
}

.main-menu-close {
    display: none;
}

.main-menu-close-btn {
    position: absolute;
    padding: 10px;
    top: -27px;
    right: -25px;
}

.main-menu-title {
    font-weight: bold;
    color: #000000;
    @include main-text();
    margin-bottom: 25px;
}

.main-menu-link {
    text-decoration: none;
    color: #f16d7f;
    @include main-text();
    text-transform: uppercase;
}

.main-menu-item {
    margin-bottom: 15px;
}

.main-menu-submenu {
    padding-left: 20px;
}

.main-submenu-link {
    text-decoration: none;
    color: #6f6e6e;
    @include main-text();
}

.main-menu-submenu-item {
    margin-top: 11px;
}
