/* shooping*/

.shopping {
    display: flex;
    justify-content: space-between;
    margin-top: 96px;
    padding-bottom: 128px;
}

.shopping-cart {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.shopping-cart-card {
    display: flex;
    box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
    width: 652px;
    justify-content: space-around;
    padding-right: 22px;
}

img.shopping-img {
    width: 40%;
}

.card-info {
    padding-left: 31px;
}

.cart-product-link {
    text-decoration: none;
}

.heading-shopping-cart-card {
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    padding-bottom: 42px;
    margin-top: 22px;
    &:hover {
        color: $color-hover;
    }
}

.text-shopping-cart-card {
    font-size: 22px;
    line-height: 26px;
    color: #575757;
    padding-bottom: 6px;
}

.count-product {
    margin-left: 24px;
    border: 1px solid #eaeaea;
    font-size: 18px;
    line-height: 22px;
    color: #656565;
    width: 44px;
    text-align: center;
    outline: none;
}

.shopping-price {
    color: #ef5b70;
}

.shopping-close {
    margin-top: 28px;
}

.shopping-cart-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.cart-btn {
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: 1px solid #a4a4a4;
    padding: 17px 40px;

    &:hover {
        background: #f16d7f;
        border: 1px solid #ff6a6a;
        color: #ffffff;
    }
}

.shipping-adress {
    display: flex;
    flex-direction: column;
}

.shipping-heading {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    padding-bottom: 20px;
}

.shipping-input {
    padding: 13px 0 16px 17px;
    width: 360px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #222222;
    border: 1px solid #a4a4a4;
    margin-bottom: 20px;
    &::placeholder {
        color: #b1b1b1;
    }
    &:focus {
        outline: none;
    }
}

.shipping-btn {
    text-decoration: none;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #4a4a4a;
    border: 1px solid #a4a4a4;
    padding: 10px 0 12px 15px;
    width: 102px;
}

.shipping-total-price {
    background: #f5f3f3;
    margin-top: 57px;
    padding: 39px 44px 42px;
    text-align: right;
}

.shipping-sub {
    font-size: 11px;
    line-height: 13px;
    color: #4a4a4a;
}

.shipping-total {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin-top: 12px;
}

.total-price {
    font-size: 16px;
    line-height: 19px;
    color: #f16d7f;
}

.line-shipping {
    background: #e2e2e2;
    margin-top: 21px;
    margin-bottom: 17px;
}

.shipping-checkout {
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    background: #f16d7f;
    padding: 12px 42px;
    display: block;
}
